@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .surface-cards {
    @apply bg-[#111827] text-[#e5e7eb] border border-[#1f2933] rounded mb-10 opacity-90 p-5 hover:opacity-100
  }
.carousel-slide {
  opacity: 1;
}

.carousel-slide.is-active {
  opacity: 0;
  animation-delay: 80ms;
  animation: slide-fade-in 0.6s ease-out forwards;
}

  .carousel-next {
    --offset: 24px;
  }

  .carousel-prev {
    --offset: -24px; /* fade in from left */
  }
}

@layer utilities {
  .delay-1 {
    animation-delay: 300ms
  }

  .delay-2 {
    animation-delay: 600ms;
  }

  .delay-3 {
    animation-delay: 900ms;
  }
}

@theme {
  --animate-fade-in-up: fade-in-up 1.5s ease-out both;
  --animate-float: float 0
  0.6s ease-in-out infinite;
}

@keyframes float {
  from { 
     transform: "translateY(0px)" 
  }
  to {
     transform: "translateY(-10px)" 
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateX(var(--offset, 0));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5764f9;
  text-decoration: inherit;
}
a:hover {
  color: #53d0f2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
